<template name="tickerEntry">
    <div class="tickerEntry row" 
            draggable="{{showButtons}}"
            data-entry-id="{{entry.id}}"
            ondragstart="onDragStart(event)"
            ondragover="onDragOver(event)"
            ondragenter="onDragEnter(event)"
            ondragleave="onDragLeave(event)"
            ondrop="onDrop(event)">
        <div class="{{getMinuteClasses}}">
            {{#if showButtons}}
                <div class="row">
                    <div class="col-xs-4">
                        <button class="btn btn-default btn-xs no-margin edit-entry remove-padding"
                                data-toggle="modal"
                                data-target="#editTickerEntry">
                            <i class="material-icons material-icon-xs">create</i>
                        </button>
                        <button class="btn btn-default btn-xs no-margin delete-entry remove-padding"
                                data-entry-id="{{entry.id}}">
                            <i class="material-icons material-icon-xs">delete</i>
                        </button>
                        {{#with entry}}
                            {{#if isGoalOrOwnGoalEntry}}
                                {{#unless hasVarEvent}}
                                    <button class="btn btn-default btn-xs no-margin var-no-goal-entry remove-padding"
                                            data-entry-id="{{id}}">
                                        <i class="material-icons material-icon-xs">undo</i>
                                    </button>
                                {{/unless}}
                            {{/if}}
                        {{/with}}
                    </div>
                    <div class="col-xs-8">
                        {{#with entry}}
                            {{entryTime}}:
                        {{/with}}
                    </div>
                </div>
            {{else}}
                {{#with entry}}
                    {{entryTime}}:
                {{/with}}
            {{/if}}
        </div>

        <div class="{{getEntryClasses}}">
            {{#with entry}}
                {{#if isTextEntry}}
                    {{text}}
                    {{#if hasImage}}
                        {{#with getImage}}
                            {{#if isUploaded}}
                                <a data-fancybox="ticker-images-{{tickerId}}" data-caption="{{text}}" href="{{url}}">
                                    <img class="teamLogo img-responsive img-rounded" loading="lazy" src="{{url}}" alt="Upload {{uploadedAt}}" />
                                </a>
                            {{else}}
                                {{> FS.UploadProgressBar bootstrap=true}}
                            {{/if}}
                        {{/with}}
                    {{/if}}
                {{else}}
                    {{#if isGoalEntry}}
                        <i class="fa fa-futbol-o"></i>
                        <strong class="{{#if hasVarEvent}}var-no-goal{{/if}}">
                            {{#if hasGoalText}}
                                {{getGoalText}}
                            {{else}}
                                Tor
                            {{/if}}
                            von {{kicker.[0].name}} ({{getTeamCode}})!
                            {{#if playAudio}}
                                {{#if hasAnthem}}
                                    {{#if isCurrentEntry}}
                                        {{playTeamAnthem}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        </strong>
                    {{else}}
                        {{#if isOwnGoalEntry}}
                            <i class="fa fa-futbol-o"></i>
                            <strong class="{{#if hasVarEvent}}var-no-goal{{/if}}">Eigentor von {{kicker.[0].name}} ({{getTeamCode}})!</strong>
                        {{else}}
                            {{#if isPenaltyGoalEntry}}
                                <i class="fa fa-futbol-o"></i>
                                <strong>Elfmetertor von {{kicker.[0].name}} ({{getTeamCode}})!</strong>
                            {{else}}
                                {{#if isYellowEntry}}
                                    <img class="entryIcon" src="/images/yellow.png"/>
                                    Gelbe Karte für
                                    {{#if kicker}}
                                        {{kicker.[0].name}} 
                                    {{else}}
                                        {{getTeamCoach}}
                                    {{/if}}
                                    ({{getTeamCode}})!
                                {{else}}
                                    {{#if isYellowRedEntry}}
                                        <img class="entryIcon" src="/images/yellowred.png"/>
                                        Gelb-Rot für
                                        {{#if kicker}}
                                            {{kicker.[0].name}} 
                                        {{else}}
                                            {{getTeamCoach}}
                                        {{/if}}
                                        ({{getTeamCode}})!
                                    {{else}}
                                        {{#if isRedEntry}}
                                            <img class="entryIcon" src="/images/red.png"/>
                                            Rote Karte für
                                            {{#if kicker}}
                                                {{kicker.[0].name}} 
                                            {{else}}
                                                {{getTeamCoach}}
                                            {{/if}}
                                            ({{getTeamCode}})!
                                        {{else}}
                                            {{#if isPenaltyEntry}}
                                                <i class="fa fa-bolt"></i>
                                                Elfmeter für {{getTeamName}}!
                                            {{else}}
                                                {{#if isSubstitutionEntry}}
                                                    <i class="fa fa-exchange"></i>
                                                    Spielerwechsel {{getTeamName}}:
                                                    <span style="color:red"><s>{{kicker.[0].name}}</s></span> <img class="entryIcon" src="/images/out.png"/>
                                                    <img class="entryIcon" src="/images/in.png"/> <span style="color:darkgreen">{{kicker.[1].name}}</span>
                                                {{else}}
                                                    {{#if isCommentEntry}}
                                                        <i class="userComment">Userkommentar von {{text}}</i>
                                                    {{else}}
                                                        {{#if isOvertimePenaltyEntry}}
                                                            {{#if isOvertimePenaltyConverted}}
                                                                <img class="entryIcon" src="/images/penalty_score.png"/>
                                                            {{else}}
                                                                {{#if isOvertimePenaltyMissed}}
                                                                    <img class="entryIcon" src="/images/penalty_miss.png"/>
                                                                {{/if}}
                                                            {{/if}}

                                                            <strong>
                                                                {{kicker.[0].name}} ({{getTeamCode}})

                                                                {{#if isOvertimePenaltyConverted}}
                                                                    trifft!
                                                                {{else}}
                                                                    {{#if isOvertimePenaltyMissed}}
                                                                        verschießt!
                                                                    {{/if}}
                                                                {{/if}}
                                                            </strong>
                                                        {{else}}
                                                            {{#if isVarNoGoalEntry}}
                                                                <i class="fa fa-undo"></i>
                                                                <strong>
                                                                    VAR-Entscheidung: kein Tor!
                                                                </strong>
                                                            {{/if}}
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/with}}
        </div>
    </div>
</template>

<template name="editTickerEntry">
    <div class="modal fade" id="editTickerEntry" tabindex="-1" role="dialog" aria-labelledby="editTickerEntryLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="edit-ticker-entry form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="editTickerEntryLabel">Eintrag bearbeiten</h4>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" name="text" rows="1" placeholder="Schreiben..."></textarea>
                        <input type="hidden" name="entryId"/>

                        <div class="h4" data-toggle="collapse" data-target="#editExpert">
                            Interne Daten
                            <i class="glyphicon glyphicon-collapse-down"></i>
                        </div>
                        <div class="collapse" id="editExpert">
                            <label for="entryTimestamp" class="control-label">Zeitstempel</label>
                            <input type="datetime-local" name="entryTimestamp" id="entryTimestamp" class="form-control" step=".001" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit"><i class="material-icons">check</i> Speichern</button>
                        <button class="btn btn-danger" data-dismiss="modal"><i class="material-icons">close</i> Abbrechen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>