<template name="tickerEntry">
    <div class="tickerEntry row">

        <div class="{{getMinuteClasses}}">
            {{#if showButtons}}
                <div class="row">
                    <div class="col-xs-4">
                            {{#if isTextEntry entry}}
                                <button class="btn btn-default btn-xs mdi-content-create no-margin edit-entry remove-padding"
                                        data-toggle="modal"
                                        data-target="#editTickerEntry"></button>
                            {{else}}
                                <button class="btn btn-xs invisible no-margin mdi-content-clear remove-padding"></button>
                            {{/if}}
                        <button class="btn btn-default btn-xs mdi-action-delete no-margin delete-entry remove-padding"
                                data-entry-id="{{entry.id}}"></button>
                    </div>
                    <div class="col-xs-8">
                        {{#with entry}}
                            {{entryTime}}:
                        {{/with}}
                    </div>
                </div>
            {{else}}
                {{#with entry}}
                    {{entryTime}}:
                {{/with}}
            {{/if}}
        </div>

        <div class="{{getEntryClasses}}">
            {{#with entry}}
                {{#if isTextEntry}}
                    {{text}}
                {{else}}
                    {{#if isGoalEntry}}
                        <i class="fa fa-futbol-o"></i>
                        <strong>
                            {{#if isSturmGraz}}
                                TOOOOOOOOOOOOOOOOOOOOOOOR
                                {{#if playAudio}}
                                    {{#if isCurrentEntry}}
                                        {{playAnthemSturmGraz}}
                                    {{/if}}
                                {{/if}}
                            {{else}}
                                Tor
                            {{/if}}
                            von {{kicker.[0].name}} ({{getTeamCode}})!
                        </strong>
                    {{else}}
                        {{#if isOwnGoalEntry}}
                            <i class="fa fa-futbol-o"></i>
                            <strong>Eigentor von {{kicker.[0].name}} ({{getTeamCode}})!</strong>
                        {{else}}
                            {{#if isPenaltyGoalEntry}}
                                <i class="fa fa-futbol-o"></i>
                                <strong>Elfmetertor von {{kicker.[0].name}} ({{getTeamCode}})!</strong>
                            {{else}}
                                {{#if isYellowEntry}}
                                    <img class="entryIcon" src="/images/yellow.png"/>
                                    Gelbe Karte für {{kicker.[0].name}} ({{getTeamCode}})!
                                {{else}}
                                    {{#if isYellowRedEntry}}
                                        <img class="entryIcon" src="/images/yellowred.png"/>
                                        Gelb-Rot für {{kicker.[0].name}} ({{getTeamCode}})!
                                    {{else}}
                                        {{#if isRedEntry}}
                                            <img class="entryIcon" src="/images/red.png"/>
                                            Rote Karte für {{kicker.[0].name}} ({{getTeamCode}})!
                                        {{else}}
                                            {{#if isPenaltyEntry}}
                                                <i class="fa fa-bolt"></i>
                                                Elfmeter für {{getTeamName}}!
                                            {{else}}
                                                {{#if isSubstitutionEntry}}
                                                    <i class="fa fa-exchange"></i>
                                                    Spielerwechsel {{getTeamName}}:
                                                    <span style="color:red"><s>{{kicker.[0].name}}</s></span> <img class="entryIcon" src="/images/out.png"/>
                                                    <img class="entryIcon" src="/images/in.png"/> <span style="color:darkgreen">{{kicker.[1].name}}</span>
                                                {{else}}
                                                    {{#if isCommentEntry}}
                                                        <i class="userComment">Userkommentar von {{text}}</i>
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/with}}
        </div>
    </div>
</template>

<template name="editTickerEntry">
    <div class="modal fade" id="editTickerEntry" tabindex="-1" role="dialog" aria-labelledby="editTickerEntryLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="edit-ticker-entry form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="editTickerEntryLabel">Eintrag bearbeiten</h4>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" name="text" rows="1" placeholder="Schreiben..."></textarea>
                        <input type="hidden" name="entryId"/>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-flat" type="submit"><i class="mdi-navigation-check"></i> Speichern</button>
                        <button class="btn btn-danger btn-flat" data-dismiss="modal"><i class="mdi-navigation-close"></i> Abbrechen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>