<template name="tickerSettings">
    <div class="row">
        <div class="col-xs-12" data-toggle="collapse" data-target="#tickerSettings">
            <h2>Einstellungen</h2>
        </div>
        <div class="col-xs-12 collapse in" id="tickerSettings">
            <div class="form-group">
                <input type="checkbox" id="tickerPlayAudio" value="{{settingPlayAudio}}"/>
                <label for="tickerPlayAudio">
                    Torhymne abspielen
                </label>
            </div>
        </div>
    </div>
</template>