<template name="tickerEntry">
    <div class="tickerEntry row">

        <div class="{{getMinuteClasses}}">
            {{#if showButtons}}
                <!--
                <button class="btn btn-default btn-xs mdi-content-create no-margin"></button>
                -->
                <button class="btn btn-default btn-xs mdi-action-delete no-margin delete-entry" data-entry-id="{{entry.id}}"></button>
            {{/if}}
            {{#with entry}}
                {{entryTime}}:
            {{/with}}
        </div>

        <div class="{{getEntryClasses}}">
            {{#with entry}}
                {{#if isTextEntry}}
                    {{text}}
                {{else}}
                    {{#if isGoalEntry}}
                        <i class="fa fa-futbol-o"></i>
                        {{#if isSturmGraz}}
                            TOOOOOOOOOOOOOOOOOOOOOOOR
                            {{#if playAudio}}
                                {{#if isCurrentEntry}}
                                    {{playAnthemSturmGraz}}
                                {{/if}}
                            {{/if}}
                        {{else}}
                            Tor
                        {{/if}}
                        von {{kicker.[0].name}} ({{getTeamCode}})!
                    {{else}}
                        {{#if isOwnGoalEntry}}
                            <i class="fa fa-futbol-o"></i>
                            Eigentor von {{kicker.[0].name}} ({{getTeamCode}})!
                        {{else}}
                            {{#if isPenaltyGoalEntry}}
                                <i class="fa fa-futbol-o"></i>
                                Elfmetertor von {{kicker.[0].name}} ({{getTeamCode}})!
                            {{else}}
                                {{#if isYellowEntry}}
                                    <img class="entryIcon" src="/images/yellow.png"/>
                                    Gelbe Karte für {{kicker.[0].name}} ({{getTeamCode}})!
                                {{else}}
                                    {{#if isYellowRedEntry}}
                                        <img class="entryIcon" src="/images/yellowred.png"/>
                                        Gelb-Rot für {{kicker.[0].name}} ({{getTeamCode}})!
                                    {{else}}
                                        {{#if isRedEntry}}
                                            <img class="entryIcon" src="/images/red.png"/>
                                            Rote Karte für {{kicker.[0].name}} ({{getTeamCode}})!
                                        {{else}}
                                            {{#if isPenaltyEntry}}
                                                <i class="fa fa-bolt"></i>
                                                Elfmeter für {{getTeamName}}!
                                            {{else}}
                                                {{#if isSubstitutionEntry}}
                                                    <i class="fa fa-exchange"></i>
                                                    Spielerwechsel {{getTeamName}}:
                                                    <span style="color:red"><s>{{kicker.[0].name}}</s></span> <img class="entryIcon" src="/images/out.png"/>
                                                    <img class="entryIcon" src="/images/in.png"/> <span style="color:darkgreen">{{kicker.[1].name}}</span>
                                                {{else}}
                                                    {{#if isCommentEntry}}
                                                        <i>Userkommentar von {{text}}</i>
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/with}}
        </div>
    </div>
</template>