<template name="tickerFormation">
    {{#each sortAndPopulateFormation formation}}
        {{> tickerFormationEntry}}
    {{/each}}
</template>

<template name="tickerFormationEntry">
    {{#if isInFormation gamePosition}}
        <div class="row">
            <div class="col-xs-3 text-right">{{gamePosition}}</div>
            <div class="col-xs-9 text-left">
                {{#if number}}
                    {{number}}&nbsp;
                {{/if}}
                {{name}}
                {{#if isCaptain}}
                    <img class="entryIcon" src="/images/captain.png"/>
                {{/if}}

                {{#if exchanged}}
                    <img class="entryIcon" src="/images/in.png"/>
                {{/if}}

                {{#if yellowCard}}
                    <img class="entryIcon" src="/images/yellow.png"/>
                {{/if}}

                {{#if yellowRedCard}}
                    <img class="entryIcon" src="/images/yellowred.png"/>
                {{/if}}

                {{#if redCard}}
                    <img class="entryIcon" src="/images/red.png"/>
                {{/if}}

                {{#if substituted}}
                    <img class="entryIcon" src="/images/out.png"/>
                {{/if}}

                {{#if scored}}
                    {{#each goals}}
                        <i class="fa fa-futbol-o"></i>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    {{/if}}
</template>