<template name="tickerFormation">
    {{#each sortFormation this}}
        {{> tickerFormationEntry}}
    {{/each}}
</template>

<template name="tickerFormationEntry">
    {{#if isInFormation gamePosition}}
        <div class="row">
            <div class="col-xs-3 text-right">{{gamePosition}}</div>
            <div class="col-xs-9 text-left">
                {{#if number}}
                    {{number}}&nbsp;
                {{/if}}
                {{name}}
                {{#if isCaptain}}
                    <strong>(C)</strong>
                {{/if}}
            </div>
        </div>
    {{/if}}
</template>