@import 'variables';

img.teamLogo {
  max-height: 9em;
}

.tickerEntry {
  padding-top: 1em;
  font-size: @tickerFontSize;
}

.tickerStatus {
  font-size: @tickerFontSize;
}

.no-margin {
  margin: 0;
}

img.logo {
  width: 100%;
  max-width: 1380px;
}

h2, .h2, h2:first-child, .h2:first-child {
  margin-top: 1em;
}