<template name="header">
    <div class="center aligned {{isActive}} row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <a href="//www.sturmnetz.at" alt="SturmNetz.at" target="_blank"><img class="logo" src="/images/header_new.jpg"/></a>
            <h1 class="huge center aligned main ui header">
                <a href="/">{{constant 'name'}}</a>
                <div class="sub header">
                    by <a href="//www.sturmnetz.at" alt="SturmNetz.at" target="_blank">SturmNetz.at</a> - 
                    
                    <a href="https://muenzer.at" alt="Münzer" target="_blank">
                        presented by
                        <img alt="Münzer" src="/images/Muenzer-Logo_small.png"/>
                    </a>
                </div>
            </h1>
        </div>
    </div>
</template>

