<template name="header">
    <div class="center aligned {{isActive}} row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <a href="//www.sturmnetz.at" alt="SturmNetz.at" target="_blank"><img class="logo" src="/images/header.jpg"></a>
            <h1 class="huge center aligned main ui header">
                <a href="/">{{constant 'name'}}</a>
                <div class="sub header">
                    <a href="//www.sturmnetz.at" alt="SturmNetz.at" target="_blank">by SturmNetz.at</a>
                </div>
            </h1>
        </div>
    </div>
</template>

