<template name="header">
    <div class="center aligned {{isActive}} row">
        <div class="col-xs-12">
            <a href="http://www.sturmnetz.at" alt="SturmNetz.at" target="_blank"><img class="logo" src="/images/header.jpg"></a>
            <h1 class="huge center aligned main ui header">
                {{constant 'name'}}
                <div class="sub header">
                    by <a class="unstyled link" href="http://www.github.com/rehand">Reinhard Handler</a>
                </div>
            </h1>
        </div>
    </div>
</template>

