<template name="adminTeamEdit">
    {{> adminNavigation}}

    <div class="page-header col-xs-12">
        <h1>{{team.name}}
            <a href="{{ pathFor 'adminTeamDelete' code=team.code}}" class="btn btn-danger">
                <i class="material-icons">delete</i> Team löschen
            </a>
        </h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            {{> updateTeamForm}}
        </div>
    </div>

</template>

<template name="updateTeamForm">
    {{#autoForm collection="Teams" id="updateTeamForm" type="method-update" meteormethod="updateTeam" doc=team}}
        <div class="inputs">
            <h2>Team ändern</h2>
            {{> afQuickField name='name'}}
            {{> afQuickField name='code'}}
            {{> afQuickField name='coach'}}
            {{> afQuickField name='goalText'}}
            {{> afQuickField name='anthem'}}
            {{> afQuickField name='logo' placeholder="Bitte Logo auswählen" remove-label="Entfernen"}}
            {{> afArrayField name='kickers' initialCount=team.countKickers}}
            <button class="btn btn-primary" type="submit"><i class="material-icons">check</i> Speichern</button>
        </div>
    {{/autoForm}}
</template>