<template name="adminTickers">
    {{> adminNavigation}}

    <div class="page-header col-xs-12">
        <h1>Tickers
            <a href="{{ pathFor 'adminTickerCreate'}}" class="btn btn-primary">
                <i class="material-icons">add</i> Ticker erstellen
            </a>
        </h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <ul>
            {{#each tickers}}
                {{> tickerAdmin}}
            {{/each}}
        </ul>
    </div>

</template>

<template name="tickerAdmin">
    <li class="col-xs-12">
        <a href="{{ pathFor 'adminTickerDetail' }}">
            <span title="{{kickoffDate kickoff}}: {{getHomeTeam.name}} - {{getAwayTeam.name}}">{{kickoffDate kickoff}} Uhr: {{getHomeTeam.name}} - {{getAwayTeam.name}}</span>
        </a>
    </li>
</template>