<template name="adminTickerDetail">
    {{> adminNavigation}}

    <div class="page-header col-xs-12">
        <h1>{{ticker.getHomeTeam.name}} vs. {{ticker.getAwayTeam.name}}
            <a href="{{ pathFor 'adminTickerEdit' _id=ticker._id}}" class="btn btn-primary btn-flat">
                <i class="mdi-content-create"></i> Bearbeiten
            </a>
            <br/><small>{{kickoffDate ticker.kickoff}}</small></h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            {{#if ticker.getHomeTeam}}
                <div class="col-xs-6">
                    {{#with ticker.getHomeTeam}}
                        {{> teamLogo}}
                    {{/with}}
                </div>
            {{/if}}
            {{#if ticker.getAwayTeam}}
                <div class="col-xs-6">
                    {{#with ticker.getAwayTeam}}
                        {{> teamLogo}}
                    {{/with}}
                </div>
            {{/if}}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10">
            <h2>Ticker</h2>
            {{> addTickerEntry}}
            {{> removeLastTickerEntry}}
        </div>
        <div class="col-xs-12 col-md-10">
            {{#each ticker.entries}}
                {{> tickerEntry}}
            {{/each}}
        </div>
    </div>

</template>

<template name="tickerEntry">
    {{timestamp}}: {{text}}<br/>
</template>

<template name="addTickerEntry">
    <form class="add-ticker-entry form-horizontal">
        <div class="form-group">
            <div class="col-xs-10">
                <input type="text" class="form-control" name="text" placeholder="Schreiben..." />
            </div>
            <div class="col-xs-2">
                <button class="btn btn-primary btn-flat" type="submit"><i class="mdi-content-send"></i> Senden</button>
            </div>
        </div>
    </form>
</template>

<template name="removeLastTickerEntry">
    <form class="remove-last-ticker-entry form-horizontal">
        <div class="form-group">
            <button class="btn btn-primary btn-flat" type="submit"><i class="mdi-action-delete"></i> Letzten Eintrag entfernen</button>
        </div>
    </form>
</template>