<template name="adminChatStatistics">
    {{> adminNavigation}}

    <div class="page-header col-xs-12">
        <h1>{{chat.title}}
            <a href="{{ pathFor 'adminChatDetail' _id=chat._id }}" class="btn btn-primary btn-raised">
                <i class="fa fa-arrow-left"></i>
                zurück zum Chat
            </a>
            <br/>
            <small>
                Beginn: {{chatDate chat.beginDate}} Uhr
            </small>
        </h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Aktuelle Statistiken</h2>
            {{userPresence.connections}} Verbindung(en) aktuell ({{userPresence.frontend}}&nbsp;Frontend, {{userPresence.backend}}&nbsp;Backend)<br/>
            Aufrufe Frontend: {{userPresence.visitsFrontend}}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Diagramm Online User
                <button class="btn btn-primary refresh" type="button">
                    <i class="material-icons">refresh</i>
                    Aktualisieren
                </button>
            </h2>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="tickerStatisticsAutoRefresh" checked="{{sessionStatisticsAutoRefresh}}"/>
                        <span class="checkbox-material"><span class="check"></span></span> <i class="material-icons">autorenew</i> automatisch aktualisieren
                    </label>
                </div>
            </div>
            <div id="chart" class="col-xs-12"></div>
        </div>
    </div>
</template>