<template name="adminTeamsDetail">
    {{> adminNavigation}}

    <div class="page-header">
        <h1>{{team.name}}</h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            {{> updateTeamForm }}
        </div>
    </div>

</template>

<template name="updateTeamForm">
    {{#autoForm collection="Teams" id="updateTeamsForm" type="method-update" meteormethod="updateTeam" doc=team}}
        <div class="inputs">
            <h2>Team ändern</h2>
            {{> afQuickField name='name'}}
            {{> afQuickField name='code'}}
            <button class="btn btn-primary btn-flat" type="submit"><i class="mdi-navigation-check"></i> Speichern</button>
        </div>
    {{/autoForm}}
</template>