<template name="adminTickerVotings">
    {{> adminNavigation}}

    <div class="page-header col-xs-12">
        <h1>
            {{ticker.getHomeTeam.name}} vs. {{ticker.getAwayTeam.name}}
            <a href="{{ pathFor 'adminTickerDetail' _id=ticker._id }}" class="btn btn-primary btn-raised">
                <i class="fa fa-arrow-left"></i>
                zurück zum Ticker
            </a>
            <br/>
            <small>
                Kickoff: {{kickoffDate ticker.kickoff}} Uhr{{#if ticker.getReferee}}, Schiedsrichter: {{ticker.getReferee}}{{/if}}{{#if ticker.competition}}, {{ticker.competition}}{{/if}}
            </small>
        </h1>

        <h1>Spielerbewertungen
            <br/>
            <small>
                Status:
                {{#if ticker.isVotingEnabled}}
                    Freigegeben bis {{kickoffDate ticker.votingDeadline}} Uhr
                {{else}}
                    Gesperrt
                {{/if}}
            </small>
        </h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="h3">
                # Bewertungen:
                {{#if ticker.votings.length}}
                    {{ticker.votings.length}}
                {{else}}
                    0
                {{/if}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="h3" data-toggle="collapse" data-target="#votingsOverview">
                Gesamt
                <i class="glyphicon glyphicon-collapse-down"></i>
            </div>
            <div id="votingsOverview" class="collapse in">
                {{#if ticker.votings}}
                    {{#if ticker.teamHomeVoting}}
                        {{ >tickerVotingsOverview team=ticker.getHomeTeam formation=ticker.teamHomeFormation tickerEntries=tickerEntries votings=ticker.votings coachVoting=ticker.coachVoting}}
                    {{/if}}

                    {{#if ticker.teamAwayVoting}}
                        {{ >tickerVotingsOverview team=ticker.getAwayTeam formation=ticker.teamAwayFormation tickerEntries=tickerEntries votings=ticker.votings coachVoting=ticker.coachVoting}}
                    {{/if}}

                    {{#if ticker.refereeVoting}}
                        {{ >refereeVotingsOverview referee=ticker.refereeObject.[0] refereeId=ticker.referee votings=ticker.votings}}
                    {{/if}}
                {{else}}
                    Keine Bewertungen vorhanden.
                {{/if}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="h3" data-toggle="collapse" data-target="#votingDetails">
                Details
                <i class="glyphicon glyphicon-collapse-down"></i>
            </div>
            <div id="votingDetails" class="collapse">
                {{#if ticker.votings}}
                    {{#if ticker.teamHomeVoting}}
                        {{ >tickerVotingDetails team=ticker.getHomeTeam formation=ticker.teamHomeFormation tickerEntries=tickerEntries votings=ticker.votings coachVoting=ticker.coachVoting}}
                    {{/if}}

                    {{#if ticker.teamAwayVoting}}
                        {{ >tickerVotingDetails team=ticker.getAwayTeam formation=ticker.teamAwayFormation tickerEntries=tickerEntries votings=ticker.votings coachVoting=ticker.coachVoting}}
                    {{/if}}

                    {{#if ticker.refereeVoting}}
                        {{ >refereeVotingDetails referee=ticker.refereeObject.[0] refereeId=ticker.referee votings=ticker.votings}}
                    {{/if}}
                {{else}}
                    Keine Bewertungen vorhanden.
                {{/if}}
            </div>
        </div>
    </div>

</template>

<template name="tickerVotingsOverview">
    <div class="h3">
        {{team.name}}
    </div>
    {{#with mapVotings formation tickerEntries votings}}
        {{#if this}}
            <div class="table-responsive">
                <table class="table table-striped table-hover votings">
                    <thead>
                        <th>Spieler</th>
                        <th>Ø Note</th>
                        <th># gültige Bewertungen</th>
                    </thead>
                    <tbody>
                    {{#each this}}
                        <tr>
                            <td>{{kicker.name}}</td>
                            <td>
                                {{#if averageVoting}}
                                    {{averageVoting}}
                                {{else}}
                                    -
                                {{/if}}
                            </td>
                            <td>{{votings.length}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Mannschaftsdurchschnitt</td>
                            <td>{{getTeamAverage this}}</td>
                            <td>{{getVotingsAverage this}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        {{/if}}
    {{/with}}

    {{#if coachVoting}}
        {{#with mapCoachVotings tickerEntries votings team}}
            {{#if this}}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Trainer</th>
                            <th>Ø Note</th>
                            <th># gültige Bewertungen</th>
                        </thead>
                        <tbody>
                        {{#each this}}
                            <tr>
                                <td>{{kicker.name}}</td>
                                <td>
                                    {{#if averageVoting}}
                                        {{averageVoting}}
                                    {{else}}
                                        -
                                    {{/if}}
                                </td>
                                <td>{{votings.length}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        {{/with}}
    {{/if}}
</template>

<template name="tickerVotingDetails">
    <div class="h3">
        {{team.name}}
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <th>IP</th>
                <th>Zeitpunkt</th>
                {{#each getVotableKickers formation tickerEntries coachVoting team.coach team.coachObject.[0]}}
                    <th>{{name}}</th>
                {{/each}}
            </thead>
            <tbody>
            {{#each mapVotingDetails formation tickerEntries votings coachVoting team.coach team.coachObject.[0]}}
                <tr>
                    <td>{{ipAddress}}</td>
                    <td>{{kickoffDate timestamp}}</td>
                    {{#each votings}}
                        <td>{{this}}</td>
                    {{/each}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="refereeVotingsOverview">
    {{#with mapRefereeVotings votings refereeId referee}}
        {{#if this}}
            <div class="h3">
                Schiedsrichterteam
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Schiedsrichterteam</th>
                        <th>Ø Note</th>
                        <th># gültige Bewertungen</th>
                    </thead>
                    <tbody>
                    {{#each this}}
                        <tr>
                            <td>{{kicker.name}}</td>
                            <td>
                                {{#if averageVoting}}
                                    {{averageVoting}}
                                {{else}}
                                    -
                                {{/if}}
                            </td>
                            <td>{{votings.length}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        {{/if}}
    {{/with}}
</template>

<template name="refereeVotingDetails">
    <div class="h3">
        Schiedsrichterteam {{referee.name}}
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <th>IP</th>
                <th>Zeitpunkt</th>
                <th>Bewertung</th>
            </thead>
            <tbody>
            {{#each mapRefereeVotingDetails refereeId votings}}
                <tr>
                    <td>{{ipAddress}}</td>
                    <td>{{kickoffDate timestamp}}</td>
                    {{#each votings}}
                        <td>{{this}}</td>
                    {{/each}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>