<template name="adminTickerExportStatistics">
    {{> adminNavigation}}

    <style type="text/css">
        @font-face {
            font-family: 'FuturaEFME-Bold';
            src: url('/fonts/FuturaEFME-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/FuturaEFME-Bold.otf') format('opentype'),
            url('/fonts/FuturaEFME-Bold.woff') format('woff'), url('/fonts/FuturaEFME-Bold.ttf') format('truetype'), url('/fonts/FuturaEFME-Bold.svg#FuturaEFME-Bold') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'FuturaEFME-Book';
            src: url('/fonts/FuturaEFME-Book.eot?#iefix') format('embedded-opentype'), url('/fonts/FuturaEFME-Book.otf') format('opentype'),
            url('/fonts/FuturaEFME-Book.woff') format('woff'), url('/fonts/FuturaEFME-Book.ttf') format('truetype'), url('/fonts/FuturaEFME-Book.svg#FuturaEFME-Book') format('svg');
            font-weight: normal;
            font-style: normal;
        }
    </style>

    <div class="col-xs-12">
        <h2>Aktuelle Statistiken</h2>
        {{userPresence.connections}} Verbindung(en) aktuell ({{userPresence.frontend}}&nbsp;Frontend, {{userPresence.backend}}&nbsp;Backend)<br/>
        Aufrufe Frontend: {{userPresence.visitsFrontend}}
    </div>

    <div class="page-header col-xs-12">
        <h1>Statistiken exportieren
            <button class="btn btn-primary refresh" type="button">
                <i class="material-icons">refresh</i>
                Aktualisieren
            </button>
        </h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="form-group">
                <label class="control-label">
                    Stadion
                    <input type="text" name="stadium" class="form-control"/>
                </label>
            </div>

            <div class="form-group">
                <label class="control-label">
                    Zuseher
                    <input type="number" name="viewers" class="form-control" min="0"/>
                </label>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6 col-md-4">
                {{> statisticsInput team=ticker.getHomeTeam}}
            </div>

            <div class="col-xs-6 col-md-4">
                {{> statisticsInput team=ticker.getAwayTeam}}
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <canvas id="statisticsExport" width="800" height="800"></canvas>
        </div>

        <div class="col-xs-12">
            <a class="download-button btn btn-primary"><i class="material-icons">file_download</i> Herunterladen</a>
            <button class="btn btn-default back-button" type="button"><i class="material-icons">arrow_back</i> Zurück
            </button>
        </div>
    </div>
</template>

<template name="statisticsInput">
    <h2>{{team.name}}</h2>
    <div class="form-group">
        <label class="control-label">
            Torschüsse
            <input type="number" name="shots" class="form-control" min="0"/>
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">
            Schüsse aufs Tor
            <input type="number" name="shotsOnGoal" class="form-control" min="0"/>
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">
            Ballbesitz %
            <input type="number" name="possession" class="form-control" min="0" max="100"/>
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">
            Gew. Zeikämpfe %
            <input type="number" name="duelSuccess" class="form-control" min="0" max="100"/>
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">
            Passquote %
            <input type="number" name="passSuccess" class="form-control" min="0" max="100"/>
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">
            Flanken
            <input type="number" name="centers" class="form-control" min="0"/>
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">
            Ecken
            <input type="number" name="corners" class="form-control" min="0"/>
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">
            Fouls
            <input type="number" name="fouls" class="form-control" min="0"/>
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">
            Abseits
            <input type="number" name="offsides" class="form-control" min="0"/>
        </label>
    </div>
</template>