<template name="adminTeamDetail">
    {{> adminNavigation}}

    <div class="page-header">
        <h1>{{team.name}}
            <a href="{{ pathFor 'adminTeamEdit' code=team.code}}" class="btn btn-primary btn-flat">
                <i class="mdi-content-create"></i> Bearbeiten
            </a>
        </h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2>Spieler</h2>
            <ul>
                {{#each team.kickers}}
                    <li>
                        {{> kicker}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

</template>

<template name="kicker">
    <span>{{name}} ({{position}})</span>
</template>