<template name="adminTeams">
    {{> adminNavigation}}

    <div class="page-header col-xs-12">
        <h1>Teams
            <a href="{{ pathFor 'adminTeamCreate'}}" class="btn btn-primary btn-flat">
                <i class="mdi-content-add"></i> Team erstellen
            </a>
        </h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <ul>
            {{#each teams}}
                {{> team}}
            {{/each}}
        </ul>
    </div>
</template>

<template name="team">
    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="{{ pathFor 'adminTeamDetail' }}"><span title="{{code}}">{{name}}</span></a>
        <button class="btn btn-danger btn-flat btn-xs delete-team" value="{{_id}}"><i class="mdi-action-delete"></i></button>
    </li>
</template>