<template name="adminTickerDetail">
    {{> adminNavigation}}

    <div class="page-header col-xs-12">
        <h1>{{ticker.getHomeTeam.name}} vs. {{ticker.getAwayTeam.name}}
            <a href="{{ pathFor 'adminTickerEdit' _id=ticker._id}}" class="btn btn-primary btn-flat">
                <i class="mdi-content-create"></i> Bearbeiten
            </a>
            <br/><small>{{kickoffDate ticker.kickoff}}</small></h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-4 text-center">
                <div class="col-xs-12 block-center">
                    {{#if ticker.getHomeTeam}}
                        {{#with ticker.getHomeTeam}}
                            {{> teamLogo}}
                        {{/with}}
                    {{/if}}
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-sm mdi-image-exposure-minus-1 score-button" data-type="home-"></button>
                    <h1 class="inline-headers">{{ticker.scoreHome}}</h1>
                    <button class="btn btn-primary btn-sm mdi-image-exposure-plus-1 score-button" data-type="home+"></button>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                {{#with ticker}}
                    Status:<br/>
                    {{gameTime}}
                {{/with}}
            </div>
            <div class="col-xs-4 text-center">
                <div class="col-xs-12 block-center">
                    {{#if ticker.getAwayTeam}}
                        {{#with ticker.getAwayTeam}}
                            {{> teamLogo}}
                        {{/with}}
                    {{/if}}
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-sm mdi-image-exposure-minus-1 score-button" data-type="away-"></button>
                    <h1 class="inline-headers">{{ticker.scoreAway}}</h1>
                    <button class="btn btn-primary btn-sm mdi-image-exposure-plus-1 score-button" data-type="away+"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10">
            <h1>Steuerung:</h1>
            {{#unless ticker.timeFirstHalfStart}}
                <button class="btn btn-success time-button" data-type="timeFirstHalfStart">Spiel starten</button>
            {{else}}
                {{#unless ticker.timeFirstHalfEnd}}
                    <button class="btn btn-warning reset-time-button" data-type="timeFirstHalfStart">zurück zum Vorbericht</button>
                    <button class="btn btn-success time-button" data-type="timeFirstHalfEnd">Pause</button>
                {{else}}
                    {{#unless ticker.timeSecondHalfStart}}
                        <button class="btn btn-warning reset-time-button" data-type="timeFirstHalfEnd">zurück zur 1. Halbzeit</button>
                        <button class="btn btn-success time-button" data-type="timeSecondHalfStart">2. Halbzeit starten</button>
                    {{else}}
                        {{#unless ticker.timeSecondHalfEnd}}
                            <button class="btn btn-warning reset-time-button" data-type="timeSecondHalfStart">zurück zur Pause</button>
                            <button class="btn btn-success time-button" data-type="timeSecondHalfEnd">Spiel beenden</button>
                        {{else}}
                            <button class="btn btn-warning reset-time-button" data-type="timeSecondHalfEnd">zurück zur 2. Halbzeit</button>
                        {{/unless}}
                    {{/unless}}
                {{/unless}}
            {{/unless}}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10">
            <h2>Ticker</h2>
            {{> addTickerEntry}}
            {{> removeLastTickerEntry}}
        </div>
        <div class="col-xs-12 col-md-10">
            {{#each ticker.entries}}
                {{> tickerEntry}}
            {{/each}}
        </div>
    </div>

</template>

<template name="addTickerEntry">
    <form class="add-ticker-entry form-horizontal">
        <div class="form-group">
            <div class="col-xs-10">
                <input type="text" class="form-control" name="text" placeholder="Schreiben..." />
            </div>
            <div class="col-xs-2">
                <button class="btn btn-primary btn-flat" type="submit"><i class="mdi-content-send"></i> Senden</button>
            </div>
        </div>
    </form>
</template>

<template name="removeLastTickerEntry">
    <form class="remove-last-ticker-entry form-horizontal">
        <div class="form-group">
            <button class="btn btn-primary btn-flat" type="submit"><i class="mdi-action-delete"></i> Letzten Eintrag entfernen</button>
        </div>
    </form>
</template>