<template name="adminTickerCreate">
    {{> adminNavigation}}

    <div class="page-header col-xs-12">
        <h1>Ticker erstellen</h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            {{ >insertTickerForm}}
        </div>
    </div>

</template>

<template name="insertTickerForm">
    {{#autoForm collection="Tickers" id="insertTickerForm" type="method" meteormethod="addTicker"}}
        <div class="inputs">
            <h2>Neuen Ticker erstellen</h2>
            {{> afQuickField name='teamHome'}}
            {{> afQuickField name='teamAway'}}
            {{> afQuickField name='kickoff' type="datetime-local"}}
            {{> afQuickField name='referee'}}
            {{> afQuickField name='published' type="boolean-select" trueLabel="Ja" falseLabel="Nein"}}

            <button class="btn btn-primary btn-flat" type="submit"><i class="mdi-navigation-check"></i> OK</button>
            <button class="btn btn-danger btn-flat cancel-button" type="reset"><i class="mdi-navigation-close"></i> Abbrechen</button>
        </div>
    {{/autoForm}}
</template>