<template name="adminTeamCreate">
    {{> adminNavigation}}

    <div class="page-header">
        <h1>Team erstellen</h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            {{> insertTeamForm}}
        </div>
    </div>

</template>

<template name="insertTeamForm">
    {{#autoForm collection="Teams" id="insertTeamsForm" type="method" meteormethod="addTeam"}}
        <div class="inputs">
            <h2>Neues Team</h2>
            {{> afQuickField name='name'}}
            {{> afQuickField name='code'}}
            <button class="btn btn-primary btn-flat" type="submit"><i class="mdi-navigation-check"></i> OK</button>
            <button class="btn btn-default btn-flat" type="reset"><i class="mdi-navigation-close"></i> Abbrechen</button>
        </div>
    {{/autoForm}}
</template>