<template name="adminTickerEdit">
    {{> adminNavigation}}

    <div class="page-header col-xs-12">
        <h1>Ticker bearbeiten
            <a href="{{ pathFor 'adminTickerDelete' _id=ticker._id}}" class="btn btn-danger btn-flat">
                <i class="mdi-action-delete"></i> Ticker löschen
            </a>
        </h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            {{ >updateTickerform}}
        </div>
    </div>

</template>

<template name="updateTickerform">
    {{#autoForm collection="Tickers" id="updateTickerForm" type="method-update" meteormethod="updateTicker" doc=ticker}}
        <div class="inputs">
            {{> afQuickField name='teamHome'}}
            {{> afQuickField name='teamAway'}}
            {{> afQuickField name='kickoff' type="datetime-local"}}
            {{> afQuickField name='referee'}}
            {{> afQuickField name='published' type="boolean-select" trueLabel="Ja" falseLabel="Nein"}}

            {{> afQuickField name='description'}}

            <div class="h3" data-toggle="collapse" data-target="#editExpert">
                Interne Daten
                <i class="glyphicon glyphicon-collapse-down"></i>
            </div>
            <div class="collapse" id="editExpert">
                {{> afQuickField name='timeFirstHalfStart' type="datetime-local" step="1"}}
                {{> afQuickField name='timeFirstHalfEnd' type="datetime-local" step="1"}}
                {{> afQuickField name='timeSecondHalfStart' type="datetime-local" step="1"}}
                {{> afQuickField name='timeSecondHalfEnd' type="datetime-local" step="1"}}
            </div>

            <button class="btn btn-primary btn-flat" type="submit"><i class="mdi-navigation-check"></i> Speichern</button>
            <button class="btn btn-danger btn-flat cancel-button" type="button"><i class="mdi-navigation-close"></i> Abbrechen</button>
        </div>
    {{/autoForm}}
</template>