<template name="adminTeamDetail">
    {{> adminNavigation}}

    <div class="page-header col-xs-12">
        <h1>{{team.name}}
            <a href="{{ pathFor 'adminTeamEdit' code=team.code}}" class="btn btn-primary">
                <i class="material-icons">create</i> Bearbeiten
            </a>
        </h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="col-xs-6">
                {{#with team}}
                    {{> teamLogo}}
                {{/with}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2>Trainer</h2>
            {{team.getCoach}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2>Tor-Einstellungen</h2>
            <ul>
                <li>Tortext:
                    {{#if team.goalText}}
                        "{{team.goalText}}"
                    {{else}}
                        Standard
                    {{/if}}
                </li>
                <li>
                    Torhymne:
                    {{#if team.getAnthemName}}
                        {{team.getAnthemName}}
                    {{else}}
                        Keine
                    {{/if}}
                </li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2>Spieler</h2>
            <ul>
                {{#each team.kickers}}
                    <li>
                        {{> kicker}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

</template>

<template name="kicker">
    <span>{{name}} ({{number}}, {{position}})</span>
</template>