<template name="adminTickerDetail">
    {{> adminNavigation}}

    <div class="page-header">
        <h1>{{ticker.getHomeTeam.name}} vs. {{ticker.getAwayTeam.name}}<br/><small>{{kickoffDate ticker.kickoff}}</small></h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{#if ticker.getHomeTeam}}
                {{#with ticker.getHomeTeam}}
                    {{> teamLogo}}
                {{/with}}
            {{/if}}
            {{#if ticker.getAwayTeam}}
                {{#with ticker.getAwayTeam}}
                    {{> teamLogo}}
                {{/with}}
            {{/if}}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10">
            <h2>Ticker:</h2>
            {{#each ticker.entries}}
                {{> tickerEntry}}
            {{/each}}
            {{> addTickerEntry}}
            {{> removeLastTickerEntry}}
        </div>
    </div>

</template>

<template name="teamLogo">
    <img class="logo" src="{{getLogo.url}}" alt="Logo von {{name}}" />
</template>

<template name="tickerEntry">
    {{timestamp}}: {{text}}<br/>
</template>

<template name="addTickerEntry">
    <form class="add-ticker-entry">
        <div class="inputs">
            <input type="text" name="text" placeholder="Schreiben..." />
            <button class="btn btn-primary btn-flat" type="submit"><i class="mdi-content-send"></i> Senden</button>
        </div>
    </form>
</template>

<template name="removeLastTickerEntry">
    <form class="remove-last-ticker-entry">
        <div class="inputs">
            <button class="btn btn-primary btn-flat" type="submit"><i class="mdi-action-delete"></i> Letzten Eintrag entfernen</button>
        </div>
    </form>
</template>