<template name="adminChats">
    {{> adminNavigation}}

    <div class="page-header col-xs-12">
        <h1>Chats
            <a href="{{ pathFor 'adminChatCreate'}}" class="btn btn-primary">
                <i class="material-icons">add</i> Chat erstellen
            </a>
        </h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <ul>
            {{#each chats}}
                {{> chatAdmin}}
            {{else}}
                Keine Chats vorhanden.
            {{/each}}
        </ul>
    </div>

</template>

<template name="chatAdmin">
    <li class="col-xs-12">
        <a href="{{ pathFor 'adminChatDetail' }}">
            <span title="{{chatDate beginDate}}: {{title}}">{{chatDate beginDate}}: {{title}}</span>
        </a>
    </li>
</template>