<template name="adminNavigation">
    <div class="row">
        <nav class="navbar navbar-default col-xs-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ pathFor 'admin' }}">Admin Menü <div class="ripple-wrapper"></div></a>
            </div>
            <div class="navbar-collapse navbar-responsive-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav">
                    <li class="{{isActiveRoute regex='adminTickers'}}"><a href="{{ pathFor 'adminTickers' }}">Tickers</a></li>
                    <li class="{{isActiveRoute regex='adminChats'}}"><a href="{{ pathFor 'adminChats' }}">Chats</a></li>
                    <li class="{{isActiveRoute regex='adminTeams'}}"><a href="{{ pathFor 'adminTeams' }}">Teams</a></li>
                    <li class="{{isActiveRoute regex='adminCoaches'}}"><a href="{{ pathFor 'adminCoaches' }}">Trainer</a></li>
                    <li class="{{isActiveRoute regex='adminReferees'}}"><a href="{{ pathFor 'adminReferees' }}">Schiedsrichter</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--{{> loginButtons align="right"}}-->
                </ul>
            </div>
        </nav>
    </div>
</template>