<template name="adminTeamCreate">
    {{> adminNavigation}}

    <div class="page-header col-xs-12">
        <h1>Team erstellen</h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            {{> insertTeamForm}}
        </div>
    </div>

</template>

<template name="insertTeamForm">
    {{#autoForm collection="Teams" id="insertTeamsForm" type="method" meteormethod="addTeam"}}
        <div class="inputs">
            <h2>Neues Team</h2>
            {{> afQuickField name='name'}}
            {{> afQuickField name='code'}}
            {{> afQuickField name='coach'}}
            <button class="btn btn-primary" type="submit"><i class="material-icons">check</i> OK</button>
            <button class="btn btn-danger cancel-button" type="button"><i class="material-icons">close</i> Abbrechen</button>
        </div>
    {{/autoForm}}
</template>