<template name="adminTickerEdit">
    {{> adminNavigation}}

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            {{ >updateTickerform}}
        </div>
    </div>

</template>

<template name="updateTickerform">
    {{#autoForm collection="Tickers" id="updateTickerForm" type="method-update" meteormethod="updateTicker" doc=ticker}}
        <div class="inputs">
            <h2>Ticker ändern</h2>
            {{> afQuickField name='teamHome'}}
            {{> afQuickField name='teamAway'}}
            {{> afQuickField name='kickoff' type="datetime-local"}}
            {{> afQuickField name='published' type="boolean-select" trueLabel="Ja" falseLabel="Nein"}}

            <button class="btn btn-primary btn-flat" type="submit"><i class="mdi-navigation-check"></i> Speichern</button>
            <button class="btn btn-danger btn-flat"><i class="mdi-navigation-close"></i> Abbrechen</button>
        </div>
    {{/autoForm}}
</template>