<template name="frontendTickerDetail">
    {{> frontendNavigation}}

    <div class="page-header col-xs-12">
        <h1>{{ticker.getHomeTeam.name}} vs. {{ticker.getAwayTeam.name}}
            <br/>
            <small>Kickoff: {{kickoffDate ticker.kickoff}} Uhr</small>
        </h1>
    </div>

    <div class="row">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="col-xs-4 text-center">
                <div class="col-xs-12 block-center">
                    {{#if ticker.getHomeTeam}}
                        {{#with ticker.getHomeTeam}}
                            {{> teamLogo}}
                        {{/with}}
                    {{/if}}
                </div>
                <div class="col-xs-12">
                    <div class="h2">{{ticker.scoreHome}}</div>
                </div>
                <div class="col-xs-12">
                    <div class="h3" data-toggle="collapse" data-target="#teamHomeFormation">
                        Aufstellung
                        <i class="glyphicon glyphicon-collapse-up"></i>
                    </div>
                    <div id="teamHomeFormation" class="collapse in">
                        {{#with ticker.teamHomeFormation}}
                            {{> tickerFormation}}
                        {{/with}}
                    </div>
                </div>
            </div>
            <div class="col-xs-4 text-center tickerStatus">
                {{#with ticker}}
                    {{gameTime}}
                {{/with}}
            </div>
            <div class="col-xs-4 text-center">
                <div class="col-xs-12 block-center">
                    {{#if ticker.getAwayTeam}}
                        {{#with ticker.getAwayTeam}}
                            {{> teamLogo}}
                        {{/with}}
                    {{/if}}
                </div>
                <div class="col-xs-12">
                    <div class="h2">{{ticker.scoreAway}}</div>
                </div>
                <div class="col-xs-12">
                    <div class="h3" data-toggle="collapse" data-target="#teamAwayFormation">
                        Aufstellung
                        <i class="glyphicon glyphicon-collapse-up"></i>
                    </div>
                    <div id="teamAwayFormation" class="collapse in">
                        {{#with ticker.teamAwayFormation}}
                            {{> tickerFormation}}
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-10">
            <h2>Ticker</h2>
        </div>
        <div class="col-xs-12 col-lg-10">
            {{#each reverseArray ticker.entries}}
                {{> tickerEntry entry=this}}
            {{/each}}
        </div>
    </div>

</template>