<template name="frontendTickerDetail">
    <div class="page-header col-xs-12">
        <h1>{{ticker.getHomeTeam.name}} vs. {{ticker.getAwayTeam.name}}
            <br/>
            <small>
                Kickoff: {{kickoffDate ticker.kickoff}} Uhr{{#if ticker.referee}}, Schiedsrichter: {{ticker.referee}}{{/if}}{{#if ticker.competition}}, {{ticker.competition}}{{/if}}
            </small>
        </h1>
    </div>

    <div class="row" id="errors">
        {{> errors}}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12" id="matchInfo">
                    <div class="col-xs-3 col-sm-4 text-right">
                        <div class="row">
                            <div class="col-xs-12 block-center">
                                <div class="row">
                                    {{#if ticker.getHomeTeam}}
                                        {{#with ticker.getHomeTeam}}
                                            {{> teamLogo}}
                                        {{/with}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 text-center tickerStatus">
                        <div class="row hidden-xs">
                            {{#with ticker}}
                                {{gameTime}}
                            {{/with}}
                        </div>

                        <div class="row hidden-sm hidden-md hidden-lg gameTimeSmall">
                            {{#with ticker}}
                                {{gameTime}}
                            {{/with}}
                        </div>

                        <div class="row">
                            {{ticker.scoreHome}} : {{ticker.scoreAway}}
                        </div>
                    </div>

                    <div class="col-xs-3 col-sm-4 text-left">
                        <div class="row">
                            <div class="col-xs-12 block-center">
                                <div class="row">
                                    {{#if ticker.getAwayTeam}}
                                        {{#with ticker.getAwayTeam}}
                                            {{> teamLogo}}
                                        {{/with}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{#unless ticker.formationHidden}}
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-6 col-sm-4 text-center">
                                <div class="row">
                                    <div class="col-xs-12 teamFormation">
                                        <div class="h3" data-toggle="collapse" data-target="#teamHomeFormation">
                                            Aufstellung
                                        </div>
                                        <div id="teamHomeFormation" class="collapse in">
                                            {{> tickerFormation formation=ticker.teamHomeFormation entries=ticker.entries}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 hidden-xs"></div>

                            <div class="col-xs-6 col-sm-4 text-center">
                                <div class="row">
                                    <div class="col-xs-12 teamFormation">
                                        <div class="h3" data-toggle="collapse" data-target="#teamAwayFormation">
                                            Aufstellung
                                        </div>
                                        <div id="teamAwayFormation" class="collapse in">
                                            {{> tickerFormation formation=ticker.teamAwayFormation entries=ticker.entries}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/unless}}
            </div>
        </div>
    </div>

    {{#unless ticker.timeSecondHalfEnd}}
        <div class="row">
            <div class="col-xs-12" data-toggle="collapse" data-target="#tickerCommentForm">
                <h2>Kommentar</h2>
            </div>
            <div class="col-xs-12 collapse in" id="tickerCommentForm">
                {{> commentForm}}
            </div>
        </div>
    {{/unless}}

    <div class="row">
        <div class="col-xs-12" data-toggle="collapse" data-target="#tickerEntries">
            <h2>Ticker</h2>
        </div>
        <div class="col-xs-12 collapse in" id="tickerEntries">
            {{#each reverseArray ticker.entries}}
                {{> tickerEntry entry=this}}
            {{/each}}
        </div>
    </div>

    {{> tickerDescription}}

    {{> tickerSettings}}

</template>

<template name="commentForm">
    <div class="row">
        {{#autoForm schema="TickerComments" id="addTickerComment" class="addTickerCommentForm" type="method" meteormethod="addTickerComment"}}
            <div class="col-xs-12 col-sm-3">
                {{> afQuickField name='name' value=getCommentName placeholder="Name" label=false}}
            </div>
            <div class="col-xs-12 col-sm-7">
                {{> afQuickField name='text' placeholder="Kommentar..." label=false}}
            </div>
            <div class="col-xs-12 col-sm-2">
                {{> afFieldInput name="tickerId" type="hidden" value=ticker._id}}
                <button class="btn btn-primary" type="submit"><i class="material-icons">send</i> Senden</button>
            </div>

        {{/autoForm}}
    </div>
</template>