<template name="frontendOverview">
    <div class="page-header col-xs-12">
        <h1>Tickers</h1>
    </div>

    <div class="row">
      {{> errors}}
    </div>

    <div class="row">
        <ul>
          {{#each tickers}}
            {{> tickerFrontend}}
          {{else}}
              Keine Ticker gefunden.
          {{/each}}
        </ul>
    </div>

    <div class="page-header col-xs-12">
        <h1>Chats</h1>
    </div>

    <div class="row">
        <ul>
            {{#each chats}}
                {{> chatFrontend}}
            {{else}}
                <li>Keine Chats gefunden.</li>
            {{/each}}
        </ul>
    </div>

</template>